h1 {
  text-align: center;
  background-color: #394b59;
  color: white;
}
h2 {
  color: #996633;
  text-align: center;
}
hr {
  height: 4px;
  width: 50%;
  background-color: #808080;
}
p {
  text-align: right;
  padding-left: 50%;
}
ul {
  list-style-type: circle;
  color: #0404ff;
}
.list1 {
  width: 200px;
}
ol {
  list-style-type: upper-roman;
}
image {
  width: 400px;
}
div {
  text-align: center;
}
.contact {
  font-weight: bold;
}
